body {
    font-family: "Lucida Sans Unicode" ;
    color: #525252;
    background-color: white;
}

#holder {
	display:inline block;
	overflow:auto;
	text-align: center;
	height: 1700px;
}

#variableSelection {
	width: 500px;
	line-height: 190%;
	display: inline-block;
	text-align: left;
}

h1 {
	margin-left: 10px;
	color: white; 
	display: inline-block;
}

#introText {
	margin-left: 5px;
}

.columnHeader {
	text-align: center;
	font-size: 30px;
}

.dropDown {
	cursor: pointer; 
	width: 200px;
}

.arrowImage {
	height: 25px; 
	width: 25px; 
	display: inline-block
}

.variableHeader{
	border-radius: 8px; 
	background-color: #384c6b;
	width: 450px;
	margin:0 auto;
}

.radio {
	width: 1.5em; 
	height: 1.5em;
}

#pmvVisualization {
	width: 1100px;
	height: 1400px;
	border-color: #d3d3d3;
	border-width: 1px;
	display: inline-block;
	vertical-align:top;
	margin-left: 25px;
}

#header {
	border-style: solid; 
	border-color: #384c6b;
	background-color: #384c6b;
}

#metrics {
	border-color: #d3d3d3;
	border-width: 1px;
	display: inline-block;
	vertical-align:top;
	float: top;
	height: 1500px;
	width: 750px;
	margin-left: 25px;
}

.metricHeader{
	border-radius: 8px; 
	background-color: #384c6b;
	color: white;
}

.metricTableHeader {
	font-size: 22px;
	font-weight: 800;
	display: inline-block;
	vertical-align: 25%;
}

.summaryHeader {
	text-align: left; 
	margin-bottom: 0px;
	font-size: 19px;
	font-weight: 800;	
}

table, th, td {
    border: 1px;
    border-style: none;
    border-color: #d3d3d3;
    border-collapse: collapse;
    width: 750px;
    text-align: center;
}

td, th {
	padding: 10px;
	border-style: none;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.labelRow{
	border-style: none;
	font-weight: bold;
	font-size: 18px;
}

.labelFont {
	font-size: 13px;
}

h3 {
	text-align: center;
	color: white;
}

#runButton {
	width: 450px;
	height: 50px;
	display: block;
	margin: 0 auto;
	border-radius: 8px;
	background-color: #446e93;
	border: none;
	color: white;
	font-family: 'Lucida Sans Unicode';
	font-size: 20px;
	margin-bottom: 5px;
	cursor: pointer;
    transition-duration: .4s;
}

#runButton:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

path {
	stroke: #000000;
	stroke-width:2px;
	fill: none;
}

#xAxis path {
    fill: none;
    stroke: #000000;
    stroke-width: 0.2px;
}

g#xAxis text {
    font-size: 12px;
    font-family: "Lucida Sans Unicode";
}

#yAxis path {
    fill: none;
    stroke: #000000;
    stroke-width: 0.2px;
}

g#yAxis text {
    font-size: 12px;
    font-family: "Lucida Sans Unicode";
}

#yAxis line {
	opacity: .15
}

#xAxis line {
	opacity: .15
}

#pmvZone {
	fill: #4D4D4D;
    opacity: 0.08;
}

#coldZone {
	fill: #7c94e8;
	opacity: 0.08;
}

#hotZone {
	fill: #e88d7d;
	opacity: 0.08;
}

.tooltip {
/*    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;*/
    /*cursor: help;*/
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 500px;
    background-color: #e8ebef;
    font-size: 10px;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 2px 0;
    

    position: absolute;
    z-index: 1;

    opacity: 0;
    transition: opacity .5s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: .8;
    width: 500px;
    cursor: pointer;
}

